/*
 * Authors   => Callie Federer, Sean Hellebusch
 * Date      => 10.3.2014
 * Version   => 1
 *
 * CSS for the KTRM DJ site
 */

*{
  font-family: 'Oswald', sans-serif;
}

html{
  background-image: url("./img/vinyl-bg.jpg");
}

body {
  color: #E5E4E2;
  margin: 0;
}

#logo-wrapper {
  position: absolute;
  top: 0;
  padding: 0;
  margin: 0;
  z-index: 1;
}

#logo-wrapper_form {
  clear:right;
}

#logo:hover{
  border: 5px solid white;
}

nav {
  background: #03205A;
  text-align: center;
  width: 100%;
  position: absolute;
  top: 0;
  margin: 0 auto;
  border: 0px;
}

nav ul {
  line-height: 35px;
  text-align: center;
  display: inline-block;
  margin: 0;
  padding: 0;
}

nav a {
  padding: 10px 10px 10px 10px;
  color: #FFFFFF;
  font-size: 1.2em;
  text-decoration: none;
  width: 150px;
  text-align: center;
}

nav ul li { /* all lists... */
  display: block;
  float: left;
  text-align: center;
  padding: 0;
  margin: 0;
  background: #03205A;
  list-style: none;*/
}

nav li a:hover {
  background-color: #CC252D;
  transition: .3s background-color;
}

nav ul ul { /* lists within lists... */
  display: none; /* hide 'em */
  width: 180px;
  position: relative;
  z-index: 1;
}

nav ul li:hover > ul { /* when list items are hovered over, do this to lists contained within them... */
  display: block;
  position: absolute;
}

nav ul ul li {
  position: relative;
  display: block;
  float: none;
}

.content {
  color: #03205A;
  width: 800px;
  margin-top: 5%;
  margin-right: auto;
  margin-left: auto;
  padding: 20px 20px 20px 20px;
  background: rgba(255, 255, 255, .8);
  border-radius: 5px;
}

.title {
  text-align: center;
  text-shadow: 2px 2px #C0C0C0;
}

#form{
  line-height: 90%;
}

#required_key{
  color: Red;
}


.loginfo {
  color: #505050;
}

.how-to-inner-ol {
  list-style: lower-alpha;
}

#announce{
  position: absolute;
  margin-top: 0px;
  margin-left: 500px;
  text-align: left;
}
.main {
  color: #03205A;
  width: 800px;
  margin-top: 5%;
  margin-right: auto;
  margin-left: auto;
  padding: 20px 20px 200px 20px;
  background: rgba(255, 255, 255, .9);
  border-radius: 5px;
}

#biggest {
  font-size: 250%;
}

li{
  list-style: none;
}

.main a:link{
  color: #03205A;
}

.main a:visited{
  color: #CC252D;
}

#management{
  line-height: 20px; 
  margin-left: 40px; 
}

.emphasis{
  font-weight: bold;
}

.normal{
  font-weight: normal;
}

#management2{
  margin-top: -420px;
  margin-left: 440px; 
  line-height: 20px; 
}

.hidden{
  display:none;
}

#checked p {
  line-height: 20px;
  padding: 0;
  margin: 0;
}

.okay{
  color: Green;
}

.warning{
  color: #CC252D;
}

.alert{
  background-color: #CC252D; 
}

iframe {
  border-width:0;
  padding-top: 1em;
  border: 0;
  width: 800px;
  height: 600px;
}
